<a href="https://colab.research.google.com/github/solita-tuomasn/AIS/blob/main/AISdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WINTER 2018

In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
ais_data_path = '/content/drive/Shareddrives/A-ICE/Data/AIS/ais_baltic_sea.zip'

import zipfile

zf = zipfile.ZipFile(ais_data_path) #open zip-file
ais_df = pd.read_csv(zf.open('training_set.csv')) #convert csv into Pandas dataframe

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
ais_df = ais_df[['timestamp', 'mmsi', 'lat', 'lon', 'speed', 'course', 'heading']] #select needed columns
print(ais_df.shape)
ais_df.head()

(14185046, 7)

             timestamp       mmsi        lat        lon  speed  course  heading
0  2017-11-02 11:19:07  205366000  54.347242   9.991140   4.01    56.6     56.0
1  2017-11-02 11:30:58  205366000  54.360348  10.025337   4.17    77.5     81.0
2  2017-11-02 11:37:58  205366000  54.359573  10.049203   4.48    92.4     92.0
3  2017-11-02 11:44:07  205366000  54.365497  10.071320   3.81    44.9     46.0
4  2017-11-02 11:56:08  205366000  54.370437  10.109498   2.73   103.6    103.0

In [ ]:
df = ais_df.head(3)[['lon', 'lat']]
display(df)

         lon        lat
0   9.991140  54.347242
1  10.025337  54.360348
2  10.049203  54.359573

In [ ]:
from sklearn.linear_model import LinearRegression
m = LinearRegression()

train = df.head(2)
display(train)

test = df.tail(1)
display(test)

         lon        lat
0   9.991140  54.347242
1  10.025337  54.360348

         lon        lat
2  10.049203  54.359573

In [ ]:
m.fit(train['lon'].values.reshape(-1, 1), train['lat'].values.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
m.predict([[10.049203]])

array([[54.36949566]])